@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%%;
}

body {
  box-sizing: border-box;
  over-flow: hidden;
}

/* Custom Swiper styles (optional) */
.testimonial-swiper .swiper-button-next,
.testimonial-swiper .swiper-button-prev {
  color: rgba(168, 85, 247, 1); /* Change navigation arrow color */
}

.testimonial-swiper .swiper-button-next:hover,
.testimonial-swiper .swiper-button-prev:hover {
  color: rgba(168, 85, 247, 1); /* Change navigation arrow color on hover */
}
